.align-dropdown-center {
    width: 50%; 
    margin-left: 25px;
    text-align: center;
}

.dropdown-item {
    text-align: center;
}

.test {
    cursor: pointer;
}

.test :hover {
    background-color: red;
}

.header-height {
    min-height: 12vh;
}

.logo {
    width: 12vh;
}

.menu :hover {
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .logo-display {
        padding-left: 12px !important;
    }
}

.title {
    width: 369px;
}