.dropdown-item {
    text-align: center;
    padding: 0;
}

.header-height {
    min-height: 12vh;
}

.logo {
    width: 12vh;
}

.menu :hover {
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .logo-display {
        padding-left: 12px !important;
    }
}

.title {
    width: 369px;
}