<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="hero banner border is-flex is-justify-content-center header-height">
    <div class="columns">
        <div class="column logo-display">
            <figure class="image logo">
                <img src="../assets/WWLogo.png" alt="W&W PDL Logo">
            </figure>
        </div>

        <div class="column is-flex is-align-items-center is-justify-content-center">
            <figure class="image title">
                <img src="../assets/DraftDexTitle.png" alt="W&W PDL Logo">
            </figure>
        </div>

        <div class="column"></div>
    </div>
</div>
