<div class="bottom-banner">
    <p><span class="bottom-text-big">Made for the W&W PDL&emsp;</span><span class="bottom-text-small">| 
        <a target="_blank" href="https://{{Ruleset}}">Ruleset</a> | 
        <a target="_blank" href="https://{{MasterSheet}}">Master Sheet </a>| 
        <a target="_blank" href="https://{{ScheduleLink}}">Schedule</a> |
        <a target="_blank" href="https://{{Help}}">Help</a> | 
        <a target="_blank" href="https://google.com">Credits</a> |
        <a target="_blank" href="https://{{Showdown}}">Teambuilder</a> |
        <a routerLink="/add-edit"> Add/Edit</a> |
        Version 0.01 
        </span>
    </p>
</div>