<body>
    <form class="login-form" [formGroup]="loginCreds">
        <div class="login-container">

            <div class="field">
                <label class="label" for="username">Trainer Name</label>
                <div class="control has-icons-left">
                    <span class="icon"><i class="pokeball-icon"></i></span>
                    <input class="input" type="text" formControlName="username">
                </div>
            </div>

            <div>
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <span class="icon"><i class=" pokeball-icon"></i></span>
                    <input class="input" type="text" formControlName="password">
                </div>
            </div>
    
            <div class="field is-grouped login-button-container">
                <div class="control">
                    <button class="button login-button-dark" (click)="login()" *ngIf="!(authentication$ | async) as authenticated; else logout_button">Login</button>
                    <ng-template #logout_button>
                        <button class="button login-button-dark" (click)="logout()">Logout</button>
                    </ng-template>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Continue as Guest</button>
                </div>
            </div>

            <a>Register an account</a>
        </div>
    </form>
    <app-bottom-banner class="bottom-banner"></app-bottom-banner>
</body>