<body>
    <div class="login-container">
        <div class="login-form">

            <div class="field">
                <label class="label">Trainer Name</label>
                <div class="control has-icons-left">
                    <span class="icon"><i class="pokeball-icon"></i></span>
                    <input class="input" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <span class="icon"><i class=" pokeball-icon"></i></span>
                    <input class="input" type="text">
                </div>
            </div>
    
            <div class="field is-grouped login-button-container">
                <div class="control">
                    <button class="button login-button-dark">Login</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Continue as Guest</button>
                </div>
            </div>
        </div>
        <app-bottom-banner class="bottom-banner"></app-bottom-banner>
    </div>
</body>