body {
    background-image: url('./../../assets/MainPageBanner.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.bottom-banner {
    position: fixed;
    width: 100%;
    bottom: 14vh;
    margin-left: 14.5vw;
    left: 160px;
    left: 0;
    color: black;
    padding-left: 10px;
    padding-bottom: 10px;
}

.field {
    margin-top: 30px;
}

.login-form {
    height: 100%;
    width: 75%;
    margin: auto;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    margin-top: 75px;
    padding-bottom: 15px;
    background: #8d9aad;
    box-shadow:
    0 0 0 7px black,
    0 0 0 10px #CD9933,
    0 0 0 15px black;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.login-button-dark {
    background: #4B4C66;
    color: white;
    border: 1px solid #4B4C66;
}

.pokeball-icon {
    background: url('./../../assets/TinyPokeball.png');
    height: 14px !important;
    width: 14px !important;
}

.register-link {
    margin: auto;
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}