#overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case we use a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay-box {
    width: 75vw;
}

.filter-font{
    font-size: 15px;
}

.pokemon-select-active:hover {
    background-color: #1E90FF;
    color: white;
}

.dropdown-scroll {
    overflow: scroll;
    max-height: 50vh;
}

.modal-card {
    width: 95%;
}