<!-- Table to Display Pokemon Matching Query -->
<div class="border table-div">
    <table class="table has-text-centered is-striped is-bordered is-hoverable">
        <thead>
            <tr>
                <th *ngFor="let attribute of tableHeaders">
                    <a [appSort]="{listToSort: pkmnList, headerMapping: tableHeaderMap}" (click)="flipIcon($event)" data-order="asc" data-name="attribute.value" class="remove-hyperlink">
                        {{attribute}}
                        <span class="icon">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                        </span> 
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pkmn of pkmnList">
                <td id="name" class="has-text-left">
                    <a (click)="editShortlist(pkmn)">
                        <span class="icon">
                            <!-- If pkmn not in shortList, show PLUS. Otherwise, show MINUS -->
                            <fa-icon *ngIf="!pkmn.inShortList" [icon]="faPlusSquare"></fa-icon>
                            <fa-icon *ngIf="pkmn.inShortList" [icon]="faMinusCircle"></fa-icon>
                        </span> 
                    </a>
                    <a href="https://pokemondb.net/pokedex/{{pkmn.name.toLowerCase()}}" target="_blank" rel="noopener noreferrer"><strong>
                    {{pkmn.name}}
                </strong></a></td>
                <td id="form"><strong>{{pkmn.form}}</strong></td>
                <td id="gmax">{{pkmn.gmax == 0 ? "No" : "Yes"}}</td>
                <td id="type1">{{pkmn.type1}}</td>
                <td id="type2">{{pkmn.type2}}</td>
                <td id="ability1">{{pkmn.ability1}}</td>
                <td id="ability2">{{pkmn.ability2}}</td>
                <td id="hiddenAbility">{{pkmn.hiddenAbility}}</td>
                <td id="hp">{{pkmn.hp}}</td>
                <td id="attack">{{pkmn.attack}}</td>
                <td id="defense">{{pkmn.defense}}</td>
                <td id="spAttack">{{pkmn.spAttack}}</td>
                <td id="spDefense">{{pkmn.spDefense}}</td>
                <td id="speed">{{pkmn.speed}}</td>
                <td id="tier">{{pkmn.tier}}</td>
                <td id="available">{{pkmn.available == 0 ? "No" : "Yes"}}</td>
                <td id="team">{{pkmn.team}}</td>
            </tr>
            <tr *ngIf="queryProcessing">
                <td colspan="17">
                    <fa-icon [icon]="faSpinner" [pulse]="true" size="2x"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>