::ng-deep * {
    margin: 0;
    padding: 0;
}

.bottom-banner {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: var(--header-text);
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--header-background);
    z-index: 100;
}

.bottom-text-small {
    font-size: 14px;
}

.bottom-text-big {
    font-size: 14px;
    font-family: "Gameboy";
}

.query-table-container {
    background-color: var(--light-background);
}