::ng-deep * {
    margin: 0;
    padding: 0;
}

.bottom-text-small {
    font-size: 14px;
}

.bottom-text-big {
    font-size: 14px;
    font-family: "Gameboy";
}

.query-table-container {
    background-color: var(--light-background);
}