a {
    color: var(--table-hyperlink) !important;
}

.remove-hyperlink {
    color: var(--table-text) !important;
}

.table-with-filter-open, .table-with-filter-closed {
    display: block;
    width: 100%;
    overflow-y: scroll;
    text-align: center;
}

.table-with-filter-open {
    max-height: 55vh;
}

.table-with-filter-closed { 
    max-height: 67vh;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--header-background);
    border-top: none !important;
    border-left: none !important;
}

td, th {
    font-size: 14px;
    padding: 6px;
}

tr {
    text-align: center;
}

.table-row1 {
    background-color: var(--table-background1);
    color: var(--table-text);
}

.table-row2 {
    background-color: var(--table-background2);
    color: var(--table-text);
}

@media screen and (max-width: 1600px) {
    table {
        font-size: 11px !important;
    }
}

@media screen and (max-height: 900px) {
    .table-with-filter-open {
        max-height: 50vh;
    }

    .table-with-filter-closed {
        max-height: 65vh;
    }
}