<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index">
        <li
            app-menuitem
            *ngIf="!item.separator"
            [item]="item"
            [index]="i"
            [root]="true"
            href="item.url"
        >
            <a [href]="item.url" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
