.select-active:hover {
    background-color: var(--header-background);
    color: var(--header-text);
}

input[type="select"] {
    accent-color: red !important;
}

select, input[type="text"]{
    width:150px;
    box-sizing:border-box;
}

.filter_button {
    background-color: var(--button-color1) !important;
    color: var(--button-text);
}

.dropdown-scroll {
    overflow: scroll;
    max-height: 50vh;
}

.banner-format{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.is-info{
    background-color: var(--header-background);
}

.filter-font{
    font-size: 15px;
}

.filter-menu-height {
    min-width: 75%;
    max-height: 300px;
}

@media screen and (max-width: 770px) {
    .column-squeeze {
        align-items: center !important;
        justify-content: center !important;
    }

    .filter-menu-height {
        overflow-y: auto;
    }

    .dropdown-scroll {
        max-height: 200px;
    }    
}

.collapse-button {
    background-color: var(--button-color2) !important;
    color: var(--button-text);
}

.subtitle{
    margin: 0;
}

option {
    color: var(--hyperlink-pc);
}
