/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
    font-family: "Gameboy";
    src: local("Gameboy"), url(./assets/fonts/PokemonGb-RAeo.ttf) format("truetype");
}

/* Define all user-specific style variables here so they can be reused throughout the app */
:root {
    --main-background: #8d9aad;
    --header-background: #6C6C76;
    --header-text: #000000;
    --main-text-dark: #000000;
    --main-text-light: #ffffff;
    --dark-background: #6c6c76;
    --light-background: #8d9aad;
    --button-color1: #ffb700;
    --button-color2: #d5a52b;
    --button-text: #000000;
    --table-background1: #ffffff;
    --table-background2: #ececec;
    --table-header: #cccccc;
    --table-text: #000000;
    --table-buttons: #485fc7;
    --hyperlink-pc: #4877bb;
    --hyperlink-ac: #2b498a;
    --table-hyperlink: black;
}


a {
    color: var(--hyperlink-pc);
}

a:hover {
    color: var(--hyperlink-ac);
}

.background {
    background-color: var(--main-background);
    width: 100%;
    height: 100vh;
}

.banner {
    background-color: var(--header-background);
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.bottom-banner {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: var(--header-text);
    padding: 5px;
    background-color: var(--header-background);
    z-index: 100;
    font-size: 14px;
}


.clickable {
    cursor: pointer;
}

.display-container {
    height: 100%;
}